<!DOCTYPE html>
{% extends '../base.html' %}
<link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Favicons -->

{% block title%}Home{%endblock%}



{%block content%}



    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<div class="container pt-4"> 
    {% if not properties %}
    <div class="col-12">There are currently no prona active</div>
      {% else %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
          {% for property in properties %}
          <div class="col">
            <div class="card border-0">
              {% for image in property.property_image.all %}
              {% if image.is_feature%}
              <img class="img-fluid" alt="Responsive image" src="{{ image.image.url }}"
                alt="{{ image.image.alt_text }}">
              {% endif %}
              {% endfor %}
              <div class="card-body px-0">
                <p class="card-text">
                  <a class="text-dark text-decoration-none"
                    href="{{ property.get_absolute_url }}">{{ property.title|slice:":50" }}...</a>
                </p>
                <div class="fw-bold">{{property.price}} €</div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
        {% endif %}

    {%endblock %}
