/* *{
    border: 1px solid red;
} */

.card-footer > * {
    max-height: 20px;
}

.card-footer{
    padding-left: 0px;
    padding-right: 0px;
    background-color: white;
}
.card-body{
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 0px;
    margin-left: 4px;
}

.card-img-top{
    height: 400px;
    /* object-fit: cover; */
}

.card-img-top:hover{
    width: 30px;
    height: 30px;
    -webkit-transition: all 1s 1s ease;
    -moz-transition: all 1s 1s ease;
    -o-transition: all 1s 1s ease;
    transition: all 1s 1s ease;
}